/*	Hacks 
**	RALLY ID:DE10280 - Meredith Slideshow issues - 6UJ9-201204221013-94075
**	See defect for detail.  This is a temporary hack that will be in place until the widget
**	code per widget is regenerated with the proper fix.  
*/
#WNColsAll .wn-gallery-description a,
#WNColsAll .wn-gallery-description a:active,
#WNColsAll .wn-gallery-description a:visited,
#WNColsAll .wn-gallery-description a:hover {
	color:#005594;
}

.wnVideoHtml
{
	background-color: #000000;
}

div.wn-gallery * { 
	margin: 0; 
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;
	color: #000000 !important;
}
div.wn-gallery div { 
    position:relative;
}

div.wn-gallery {
	overflow: hidden;
	position: relative;
}

div.wn-gallery .wn-controls-cover {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
#wnVideoLoadingMsg {
	padding-top: 5px;
	padding-bottom: 12px;
}
div.wn-gallery ul.categories {
	background-color: #eeeeee;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 100%;
	margin: 0 ! important;
}
div.wn-gallery ul.categories li {

	display: block;
	float: left;
	list-style: none;
	overflow: hidden;
}
div.wn-gallery ul.categories li.more {
	display:none;
	float: right;
}
div.wn-gallery ul.categories li.more select {
	margin-right:5px;
	width: 80px;
}
div.wn-gallery ul.categories li a {
	padding-left:6px;
	padding-right:6px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
div.wn-gallery ul.categories li a.active {	
	background-color: #fff !important;
	color: #000000 !important;
}

div.wn-gallery div.video-page-container {
	padding-top: 5px;
	position: relative;
	top: 0;
	left: 0;
	background-color: #fff !important;
	text-align: center;
}
div.wn-gallery div.video-page {
	float: left;
}
div.wn-gallery div.video-page ul {
	margin: 0 ! important;
}
div.wn-gallery div.video-page ul li {
	display: block;
	float: left;
	font-size: 12px !important;
	font-weight: normal !important;
	height: 100px;
	overflow: hidden;
	padding: 0 ! important;
}
div.wn-gallery div.video-page ul li span {
	padding-top:3px;
	padding-left:5px;
	display: block;
	margin-left: 104px;
	padding-right: 1em;
	text-align: left;
	color: #000000 !important;
}
div.wn-gallery div.video-page ul li span.length {
	color: #000 !important;
}

div.wn-gallery div.video-page img.thumb {
	-webkit-box-shadow: black 0px 0px 2px 0px;
	background: #eeeeee;
	border: 0;
	display: block;
	float: left;
	margin-top:5px;
	margin-left:5px;
}
.wn-highlight {
	-webkit-box-shadow: #000000 0px 0px 2px 0px;
	background-color: #eeeeee;
	color: #000000;
	cursor: pointer;
}

div.wn-gallery div.pager {
	background-color: #eeeeee;
	clear: both;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}

div.wn-gallery div.pager div.page-numbers-container {
	overflow: hidden;
	position: relative;
	float: left;
}

div.wn-gallery div.pager ul.page-numbers {
	margin: 0 auto;
	width: 100px;
}
div.wn-gallery div.pager ul.page-numbers li {
	display: block;
	float: left;
	padding: 0 ! important;
}
div.wn-gallery div.pager a.next,
div.wn-gallery div.pager a.prev,
div.wn-gallery div.pager ul.page-numbers li a {
	display: block;
	padding: 0 2px;
	text-align: center;
	text-decoration: none;
	width: 20px;
}
div.wn-gallery div.pager a.prev { float: left; width: 60px; }
div.wn-gallery div.pager a.next { float: right; width: 60px; }

div.wn-gallery div.pager a.next:hover,
div.wn-gallery div.pager a.prev:hover,
div.wn-gallery div.pager ul.page-numbers li a:hover,
div.wn-gallery div.pager ul.page-numbers li a.active {
	background: #fff;
	color: #000;
}

#testParams {
	font-size: 14px;
	margin: 1em auto;
	width: 500px;
}
#testParams select { width: 40px }
#testParams input { width: 50px; }



div.wn-video-container-div,
div.wn-video-overlay-container,
div.wn-video-controls-container,
div.wn-video-play-button-overlay {
	position: absolute;
}
div.wn-video-container-div,
div.wn-video-overlay-container,
div.wn-video-play-button-overlay {
	top: 20px;
}

div.wn-video-play-button-overlay {
	cursor: pointer;
}
div.wn-video-play-button {
	width: 118px;
	height: 118px;
	border: none;
	position: absolute;
	right: 50%;
	bottom: 50%;
	margin-bottom: -39px;
	margin-right: -56px;
	background-image: url("../../vendor/amp.premier/amp.svg");
	background-position: -231px 0;
	cursor: pointer;
}


/****************************/
/*     PlayBack control     */
/****************************/

div.wn-video-controls-container {
	border-top: 1px solid #404040;
    margin: 0 !important;
    opacity: 0.85;
    padding: 0 !important;
	font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
	color: #FFFFFF;
    background: #242424; /* Old browsers */
	background: -moz-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%,#242424), color-stop(50%,#1f1f1f), color-stop(100%,#171717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* IE10+ */
	/* Filter was causing a lot of weird issues in IE. Elements would stop showing up, or other styles would break. */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#171717',GradientType=0 );*/ /* IE6-9 */
	background: linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* W3C */
	/* Fade-in using CSS Transitions */
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

/* Play control */

div.wn-canvas-player-play-control {
    cursor: pointer !important;
	margin-left: 18px !important;
	display: inline-block;
    width: 35px !important;
	float:left !important;
	clear:none !important;
}
div.wn-canvas-player-play-control span.wn-canvas-player-paused {
    background: url("video_icons.png") repeat scroll 0 0 transparent;
    height: 25px; width: 17px !important;
	margin: 2px auto 0 !important;
	display:inline-block;
}
div.wn-canvas-player-play-control span.wn-canvas-player-playing {
    background: url("video_icons.png") repeat scroll -25px -1px transparent;
    height: 25px; width: 18px !important;
	margin: 2px auto 0 !important;
	display:inline-block;
}

/* Time control */

div.wn-canvas-player-time-control {
    cursor: default !important;
    float: left !important;
	margin: 2px 0.5em 0 0.2em !important;
	display:inline-block;
	clear:none !important;
}
div.wn-canvas-player-time-control span.wn-canvas-player-current-time {
	display:inline-block;
}
div.wn-canvas-player-time-control span.wn-canvas-player-time-delimiter {
	display:inline-block;
}
div..wn-canvas-player-time-control span.wn-canvas-player-duration {
	display:inline-block;
}
div.wn-canvas-player-time-control span.wn-canvas-player-remaining-time {
	display:inline-block;
}

/* Loading control */

div.wn-canvas-player-loading-control {
	display: inline-block;
	float: left !important;
	clear:none !important;
}
div.wn-canvas-player-loading-control span.wn-canvas-player-loading {
    cursor: default !important;
	margin: 7px auto 0 !important;
	display:inline-block;
}
div.wn-canvas-player-loading-control span.wn-canvas-player-loading-spinner {
	cursor: pointer !important;
	margin: 7px auto 0 !important;
	display:inline-block;
}

/* Full-screen control */

div.wn-canvas-player-fullscreen-control {
    cursor: pointer !important;
    float: right !important;
    width: 40px;
	display:inline-block;
	clear:none !important;
}
div.wn-canvas-player-fullscreen-control span.wn-canvas-player-fullscreen {
    background: url("video_icons.png") repeat scroll -124px 0 transparent;
    height: 25px; width: 33px;
    margin: 0.9em auto 0 auto !important;
	display:inline-block;
}

/* Volume control */

div.wn-video-controls-container div.wn-canvas-player-mute-control {
    cursor: pointer !important;
    float: right !important;
    width: 40px;
    clear:none !important;
}
div.wn-video-controls-container div.wn-canvas-player-mute-control .wn-canvas-player-mute {
    background: url("video_icons.png") repeat scroll -80px 0 transparent;
    height: 25px; width: 35px;
    margin: 0.9em auto 0 auto !important;
	display:inline-block;
}
div.wn-video-controls-container div.wn-canvas-player-mute-control .vol-0 {
    background: url("video_icons.png") repeat scroll -45px 0 transparent;
}

/****************************/
/*  PlayBack control - END  */
/****************************/




/*  AMP HTML5 player  */
div.akamai-controls.akamai-cc-enabled .akamai-caption.akamai-button {
    box-sizing: content-box;
    height: 19px;
}




.wnSlideshowCanvas {
/*.wnSlideshowCanvas div.wn-ad-image-wrapper {*/
	border: 0 !important;
	background-color: #ccc;
}

.wn-ad-gallery,
.WNwidget div.wn-single-image {
  width: 600px;
  border: 1px solid #dadada;
  background-color: #fff;
}
.wn-ad-gallery, .wn-ad-gallery * {
  margin: 0;
  padding: 0;
}
.wn-ad-gallery .wn-single-image
{
    border: 0px;
}
  .wn-ad-gallery .wn-ad-image-wrapper {
    width: 100%;
    height: 400px;
    /*margin-bottom: 10px;*/
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-next {
      position: absolute;
      right: 0;
      top: 43%;
      width: 52px;
      height: 52px;
      cursor: pointer;
      display: block;
      z-index: 151;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-prev,
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-prev {
      position: absolute;
      top: 43%;
      width: 52px;
      height: 52px;
      cursor: pointer;
      display: block;
      z-index: 151;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-next {
      right: 0;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-prev {
      left: 0;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-prev, .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-next {
      /* Or else IE will hide it */
      background: url(non-existing.jpg)\9
    }
      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-prev .wn-ad-prev-image,
      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-next .wn-ad-next-image {
        background: url(slideshow_prev.png);
        width: 52px;
        height: 52px;
        /*display: none;*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 101;
      }
      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-next .wn-ad-next-image {
        background: url(slideshow_next.png);
        right: 0;
        left: auto;
      }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
      text-align: left;
    }
    .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image img {
    	position: absolute;	
    }
      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image a img {
        border: 0;
      }
      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image .wn-ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px !important;
        margin: 0 !important;
        text-align: left;
        width: 100%;
        z-index: 2;
       	background: url(opa75_black.png);
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
		color: #fff;
		line-height: 140%;
		font-size: 12px;
		height: 45px;
		font-weight: normal;
		display: none;
      }
      /* * html .wn-ad-gallery .wn-ad-image-wrapper .ad-image .wn-ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }*/
	      .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image .wn-ad-image-description span {
			color: #b7b7b7;
			font-size: 11px;
			font-weight: normal;
			display: inline !important;
	      }
        .wn-ad-gallery .wn-ad-image-wrapper .wn-ad-image .wn-ad-image-description .wn-ad-description-title {
          display: block;
        }
  .wn-ad-gallery .wn-ad-controls {
    height: 20px;
  }
    .wn-ad-gallery .ad-info {
      float: left;
    }
    .wn-ad-gallery .wn-ad-slideshow-controls {
      float: right;
    }
      .wn-ad-gallery .wn-ad-slideshow-controls .wn-ad-slideshow-start, .wn-ad-gallery .wn-ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px !important;
        cursor: pointer;
      }
      .wn-ad-gallery .wn-ad-slideshow-controls .wn-ad-slideshow-countdown {
        padding-left: 5px !important;
        font-size: 0.9em;
      }
    .wn-ad-gallery .ad-slideshow-running .wn-ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .wn-ad-gallery .wn-ad-nav {
    width: 100%;
    position: relative;
    text-align: left;
  }
    .wn-ad-gallery .wn-ad-forward, .wn-ad-gallery .wn-ad-back {
      position: absolute;
      /*top: 0;*/
      height: 100%;
      z-index: 10;
    }
    .wn-ad-gallery .wn-ad-forward, .wn-ad-gallery .wn-ad-back {
      height: 100px;
    }
    .wn-ad-gallery .wn-ad-back {
      cursor: pointer;
      left: 10px;
      width: 21px;
      display: block;
      background: url(slideshow_scroll_back.png) 0px 0px no-repeat;
    }
    .wn-ad-gallery .wn-ad-forward {
      cursor: pointer;
      display: block;
      right: 10px;
      width: 21px;
      background: url(slideshow_scroll_forward.png) 0px 0px no-repeat;
    }
    .wn-ad-gallery .wn-ad-nav .wn-ad-thumbs {
      overflow: hidden;
      /*width: 100%;*/
      position: relative;
      top: 7px;
      left: 40px;
    }
      .wn-ad-gallery .wn-ad-thumbs .wn-ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none !important;
        padding: 0 !important;
        margin: 0 !important;
      }
        .wn-ad-gallery .wn-ad-thumbs li {
          float: left;
          padding-right: 5px !important;
        }
          .wn-ad-gallery .wn-ad-thumbs li a {
            display: block;
          }
          .wn-ad-gallery .wn-ad-thumbs li a:hover {
            cursor: pointer;
          }
            .wn-ad-gallery .wn-ad-thumbs li a img {
              border: 2px solid #CCC;
              display: block;
              /*height: 70px;*/
            }
            .wn-ad-gallery .wn-ad-thumbs li a.wn-ad-active img {
              border: 2px solid #12639A;
            }
/* Can't do display none, since Opera won't load the images then */
.wn-ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}



.wnSlideshowCanvas, .wnVideoCanvas, .ampVideoCanvas {
	font-family: Tahoma, Verdana, sans-serif;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
}
.wnSlideshowCanvas {
    	background-color: #fff;
}
.wnVideoCanvas {
    	background-color: #000;
}

.wnSlideshowCanvas .wn-share-pane,
.wnVideoCanvas .wn-share-pane,
.ampVideoCanvas .wn-share-pane {
	width: 100%;
	height: 300px;
    position: absolute;
    overflow: hidden;
	top: 0;
	left: 0;
	background: url('opa55_black.png');
	z-index: 152;
	font-family: Tahoma, Verdana, sans-serif;
	display: none;
	/*color: #fff;
	font-size: 12px;
	line-height: 16px;*/
}
/** html .wnSlideshowCanvas .wn-share-pane {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa55_black.png');
}*/

	.wnSlideshowCanvas .wn-share-pane div,
	.wnVideoCanvas .wn-share-pane div,
	.ampVideoCanvas .wn-share-pane div {
		position: absolute;
		text-align: left;	
	}
	
		.wnSlideshowCanvas .wn-share-pane .wn-sh-label,
		.wnVideoCanvas .wn-share-pane .wn-sh-label,
		.ampVideoCanvas .wn-share-pane .wn-sh-label { 
			width: 100px;
			margin-left: 20px !important;
			font-weight: normal;
			/*position: relative;
			top: 5px;*/
		}
	.wnSlideshowCanvas .wn-share-pane .wn-close_button,
	.wnVideoCanvas .wn-share-pane .wn-close_button,
	.ampVideoCanvas .wn-share-pane .wn-close_button {
		font-weight: bold;
		right: 15px;
		top:  15px;
		cursor: pointer;
	}
	.wnSlideshowCanvas .wn-share-pane .wn-embed-fields,
	.wnVideoCanvas .wn-share-pane .wn-embed-fields,
	.ampVideoCanvas .wn-share-pane .wn-embed-fields {
		width: 100%;
		top: 55px;
		left: 0;
	}
	.wnSlideshowCanvas .wn-share-pane .wn-link-fields,
	.wnVideoCanvas .wn-share-pane .wn-link-fields,
	.ampVideoCanvas .wn-share-pane .wn-link-fields {
		height: 60px;
		width: 100%;
		bottom: 0px;
		left: 0;
	}
		.wnSlideshowCanvas .wn-share-pane .wn-embed-fields .wn-embed-code, 
		.wnSlideshowCanvas .wn-share-pane .wn-link-fields input,
		.wnVideoCanvas .wn-share-pane .wn-embed-fields .wn-embed-code,
		.wnVideoCanvas .wn-share-pane .wn-link-fields input,
		.ampVideoCanvas .wn-share-pane .wn-embed-fields .wn-embed-code,
		.ampVideoCanvas .wn-share-pane .wn-link-fields input {
			position: absolute;
			right: 20px;
			background: url('opa35_white.png');
			border: 1px solid #fff;
			outline: none;
			resize: none;
			overflow: hidden;
			font-family: Tahoma, Verdana, sans-serif;
			color: #fff;
			font-size: 12px;
			padding: 0 3px 0 3px !important;
			box-sizing: content-box;
			word-wrap: break-word;
			overflow-y: scroll;
		}
		.wnSlideshowCanvas .wn-share-pane .wn-link-fields input,
		.wnVideoCanvas .wn-share-pane .wn-link-fields input,
		.ampVideoCanvas .wn-share-pane .wn-link-fields input {
			height: 22px;
		}
.wnSlideshowCanvas .wn-controls,
.wnVideoCanvas .wn-controls {
	position: absolute;
	right: 0px;
	z-index: 100;
}
.wnSlideshowCanvas .wn-controls { top: -1px; }
.wnSlideshowCanvas .wn-controls.wn-mobile { top: 1px; }

    .wnSlideshowCanvas .wn-controls div,
    .wnVideoCanvas .wn-controls div {
		display: inline;
		margin-left: 1px !important;
		padding: 2px 4px 3px 6px !important;
		font-size: 10px;
		/*line-height: 15px;*/
		color: #c1bfc0;
		text-transform: uppercase;
		font-weight: bold
	}
   .wnSlideshowCanvas .wn-controls div {
    background-color: #061e22;
  }

	.wnVideoCanvas .wn-controls div.wn-share-button 
	{
        position: relative;
	}
/*	.wnVideoCanvas .wn-controls div.wn-share-button {
		border: 1px solid #777;
	}
	.WNcontainer .WNwidget .wnSlideshowCanvas .wn-share-button,
	.WNcontainer .WNwidget .wnSlideshowCanvas .wn-start-pause {
	    display: none;
    }*/

.wnSingleImageGallery {
	text-align: left;
}
	.wnSingleImageGallery div.wn-gallery-thumbnail {
		width: 145px;
		height: 80px;
		margin: 0 6px 6px 0;
		overflow: hidden;
		float: left;
	}
		.wnSingleImageGallery div.wn-gallery-thumbnail div.wn-single-image-placeholder 
		{
		    width: 143px;
		    height: 78px;
		    border: 1px solid #dadada;
		    display: block;
		}
		.wnSingleImageGallery div.wn-gallery-thumbnail img {
			max-width: 145px;
		    max-height: 80px;
		    border: 0px;
		}
	.wnSingleImageGallery div.wn-gallery-description {
		padding-right: 22px;
	}
		.wnSingleImageGallery div.wn-gallery-description a,
		.wnSingleImageGallery div.wn-gallery-description a:hover {
			font-size: 13px;
		}
		.wnSingleImageGallery div.wn-gallery-description span {
			font-size: 11px;
			font-weight: normal;
			line-height: 23px;
		}
#videoPlayerPane div.wnSingleImageGallery {
	border: 1px solid #606060;
}


#WNStoryHeader div.WNWidgetsContainer * {
	clear: none;
	margin-bottom: 0 !important;
}
#WNStoryHeader div.WNWidgetsContainer div {
	display: inline-block;
}
#WNStoryHeader div.WNWidgetsContainer > div.wnSlideshowCanvas > div.wn-share-pane {
	display: none;
}
#WNStoryHeader .addthis_toolbox a {
	clear: none;
	padding: 0 2px;
}


.WNWidgetsContainer img {
	padding: 0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: transparent !important;
}

/* Fixes for Story page and gallery conflics */
#WNStoryHeader .wn-gallery,
#WNStoryHeader .wn-gallery .clear,
#WNStoryHeader .wn-gallery .pager,
#WNStoryHeader .wn-gallery .video-page-container,
#WNStoryHeader .wn-gallery .video-page-container div,
#WNStoryHeader .wn-gallery .video-page-container ul,
#WNStoryHeader .wn-gallery .video-page-container li,
#WNStoryHeader .wn-gallery .video-page-container span,
#WNStoryHeader .wn-gallery .video-page-container img,
#WNStoryHeader .wn-gallery .video-page-container a,
#WNStoryHeader .pager a,
#WNStoryHeader .pager div,
#WNStoryHeader .pager .page-numbers,
#WNStoryHeader .pager .page-numbers li,
#WNStoryHeader .pager .page-numbers a {
 clear: none;
 margin-bottom: 0 !important;
}
#WNStoryHeader .wn-gallery .video-page-container img.thumb {
 margin-top:5px;
 margin-left:5px;
}
#WNStoryHeader .wn-gallery .video-page-container ul li span {
 padding-top:3px;
 padding-left:5px;
 padding-right: 1em;
}
#WNStoryHeader div.wn-gallery div.pager ul.page-numbers {
 margin: 0 auto;
}


.wn-widget-headline,
.wn-widget-infopane {
	margin: 0px;
	padding: 0px;
	border: 1px solid #dadada;
	background-color: #fff;
	color: #000;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	position: relative;
}
	.wn-widget-headline-title,
	.wn-widget-headline-time {
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		left: 6px;
		text-align: left;
		overflow: hidden;
	}
	.wn-widget-headline-time {
		width: 47px;
		text-align: center;
		background-color: #fff;
	}

.wn-widget-infopane div {
	margin: 0px ! important;
	padding: 0px ! important;
}
	.wn-widget-infopane .wn-widget-infopane-image,
	.wn-widget-infopane .wn-widget-infopane-textinfo {
		position: absolute;
		text-align: left;
	}
	.wn-widget-infopane .wn-widget-infopane-image div {
		background-color: #000;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
	}
		.wn-widget-infopane .wn-widget-infopane-title,
		.wn-widget-infopane .wn-widget-infopane-summary,
		.wn-widget-infopane .wn-widget-infopane-image {
			overflow: hidden;
		}
		.wn-widget-infopane .wn-widget-infopane-title {
			text-transform: uppercase;
		}
		.wn-widget-infopane .wn-widget-infopane-time {
			vertical-align: bottom;
		}
